In [1]:
import numpy as np
import pandas as pd 
import os

In [2]:
df = pd.read_csv("/kaggle/input/intern/car.csv")
df.head()

,id,list_id,list_time,manufacture_date,brand,model,origin,type,seats,gearbox,fuel,color,mileage_v2,price,condition
0,148468232,108616925,1693378633111,1980,Jeep,A2,Mỹ,SUV / Cross over,4.0,MT,petrol,green,40000,380000000.0,used
1,149864917,109805135,1694308247000,2021,Honda,City,Nhật Bản,Sedan,5.0,AT,petrol,white,23000,455000000.0,used
2,149580046,109560282,1693462201000,2016,Kia,Rio,Hàn Quốc,NaN,NaN,AT,petrol,NaN,78545,295000000.0,used
3,148601679,108727914,1693493126176,2020,Toyota,Vios,Việt Nam,Sedan,5.0,MT,petrol,white,99999,368000000.0,used
4,149530234,109517456,1693313503000,2001,Fiat,Siena,NaN,NaN,NaN,MT,petrol,white,200000,73000000.0,used

# Check Data

In [3]:
df.shape

(317636, 15)

In [4]:
df.isnull().sum()

id                      0
list_id                 0
list_time               0
manufacture_date        0
brand                  50
model                  50
origin              83319
type                44702
seats               33844
gearbox              1393
fuel                   94
color               96096
mileage_v2              0
price                 112
condition               0
dtype: int64

In [5]:
df.duplicated().sum()

236178

In [6]:
df.dtypes

id                    int64
list_id               int64
list_time             int64
manufacture_date      int64
brand                object
model                object
origin               object
type                 object
seats               float64
gearbox              object
fuel                 object
color                object
mileage_v2            int64
price               float64
condition            object
dtype: object

In [7]:
df.nunique()

id                  37545
list_id             37545
list_time           78507
manufacture_date       44
brand                  67
model                 521
origin                 10
type                    9
seats                  11
gearbox                 4
fuel                    4
color                  12
mileage_v2           3240
price                2095
condition               2
dtype: int64

In [8]:
df.describe()

,id,list_id,list_time,manufacture_date,seats,mileage_v2,price
count,3.176360e+05,3.176360e+05,3.176360e+05,317636.00000,283792.000000,317636.000000,3.175240e+05
mean,1.489581e+08,1.090510e+08,1.695835e+12,2016.53675,5.712529,61327.917528,6.265541e+08
std,3.484644e+06,2.878699e+06,1.131473e+09,26.07318,1.780515,92679.788593,7.284020e+08
min,4.588559e+07,2.989052e+07,1.691400e+12,-1.00000,-1.000000,0.000000,1.310720e+06
25%,1.490832e+08,1.091366e+08,1.695113e+12,2014.00000,5.000000,9000.000000,3.150000e+08
50%,1.499784e+08,1.099032e+08,1.695873e+12,2019.00000,5.000000,42000.000000,4.900000e+08
75%,1.504550e+08,1.103140e+08,1.696577e+12,2022.00000,7.000000,82000.000000,7.150000e+08
max,1.513698e+08,1.110970e+08,1.698210e+12,2023.00000,16.000000,999999.000000,3.750000e+10

In [9]:
unique_values = df['origin'].unique()
unique_values

array(['Mỹ', 'Nhật Bản', 'Hàn Quốc', 'Việt Nam', nan, 'Nước khác', 'Đức',
       'Ấn Độ', 'Thái Lan', 'Đài Loan', 'Trung Quốc'], dtype=object)

In [10]:
unique_values = df["fuel"].unique()
unique_values

array(['petrol', 'oil', 'electric', 'hybrid', nan], dtype=object)

In [11]:
df_null_brand = df[df['brand'].isnull()]
print(df_null_brand.shape)
df_null_brand.head(3)

(50, 15)

,id,list_id,list_time,manufacture_date,brand,model,origin,type,seats,gearbox,fuel,color,mileage_v2,price,condition
1727,143905366,104804174,1695347537429,-1,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,90000,190000000.0,used
2797,143905366,104804174,1695347537429,-1,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,90000,190000000.0,used
3141,143905366,104804174,1695347537429,-1,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,90000,190000000.0,used

In [12]:
df_null_model = df[df['model'].isnull()]
print(df_null_model.shape)
df_null_model.head(3)

(50, 15)

,id,list_id,list_time,manufacture_date,brand,model,origin,type,seats,gearbox,fuel,color,mileage_v2,price,condition
1727,143905366,104804174,1695347537429,-1,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,90000,190000000.0,used
2797,143905366,104804174,1695347537429,-1,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,90000,190000000.0,used
3141,143905366,104804174,1695347537429,-1,NaN,NaN,NaN,NaN,NaN,unknown,NaN,NaN,90000,190000000.0,used

In [13]:
grouped_origins = df.groupby('brand')['origin'].unique()
grouped_origins

brand
Acura                         [Mỹ, nan, Nhật Bản, Nước khác, Đức]
Asia                                       [Hàn Quốc, Trung Quốc]
Aston Martin                                         [Trung Quốc]
Audi                          [Đức, nan, Nước khác, Mỹ, Hàn Quốc]
BMW                    [Đức, Mỹ, nan, Việt Nam, Nước khác, Ấn Độ]
                                      ...
Toyota          [Việt Nam, nan, Nước khác, Đài Loan, Nhật Bản,...
Vinfast                [Việt Nam, Mỹ, nan, Đức, Ấn Độ, Nước khác]
Volkswagen             [nan, Đức, Ấn Độ, Nước khác, Mỹ, Việt Nam]
Volvo               [Nước khác, nan, Đức, Việt Nam, Mỹ, Thái Lan]
Zotye                      [nan, Nước khác, Trung Quốc, Hàn Quốc]
Name: origin, Length: 67, dtype: object

In [14]:
id_to_search = 149530234
result = df[df['id'] == id_to_search]
result

,id,list_id,list_time,manufacture_date,brand,model,origin,type,seats,gearbox,fuel,color,mileage_v2,price,condition
4,149530234,109517456,1693313503000,2001,Fiat,Siena,NaN,NaN,NaN,MT,petrol,white,200000,73000000.0,used
143,149530234,109517456,1693313503000,2001,Fiat,Siena,NaN,NaN,NaN,MT,petrol,white,200000,73000000.0,used
266,149530234,109517456,1693313503000,2001,Fiat,Siena,NaN,NaN,NaN,MT,petrol,white,200000,73000000.0,used
395,149530234,109517456,1693313503000,2001,Fiat,Siena,NaN,NaN,NaN,MT,petrol,white,200000,73000000.0,used

# Process Data

In [15]:
df_copy = df.drop_duplicates()
df_copy.shape

(81458, 15)

In [16]:
df_copy.head()

,id,list_id,list_time,manufacture_date,brand,model,origin,type,seats,gearbox,fuel,color,mileage_v2,price,condition
0,148468232,108616925,1693378633111,1980,Jeep,A2,Mỹ,SUV / Cross over,4.0,MT,petrol,green,40000,380000000.0,used
1,149864917,109805135,1694308247000,2021,Honda,City,Nhật Bản,Sedan,5.0,AT,petrol,white,23000,455000000.0,used
2,149580046,109560282,1693462201000,2016,Kia,Rio,Hàn Quốc,NaN,NaN,AT,petrol,NaN,78545,295000000.0,used
3,148601679,108727914,1693493126176,2020,Toyota,Vios,Việt Nam,Sedan,5.0,MT,petrol,white,99999,368000000.0,used
4,149530234,109517456,1693313503000,2001,Fiat,Siena,NaN,NaN,NaN,MT,petrol,white,200000,73000000.0,used

In [17]:
df_copy.isnull().sum()

id                      0
list_id                 0
list_time               0
manufacture_date        0
brand                  22
model                  22
origin              23021
type                11148
seats                8775
gearbox               326
fuel                   36
color               26096
mileage_v2              0
price                  30
condition               0
dtype: int64

In [18]:
df_copy = df_copy.dropna(subset=['brand', 'model'])
print(df_copy.shape)
df_copy.isnull().sum()

(81436, 15)

id                      0
list_id                 0
list_time               0
manufacture_date        0
brand                   0
model                   0
origin              22999
type                11126
seats                8753
gearbox               326
fuel                   14
color               26074
mileage_v2              0
price                  30
condition               0
dtype: int64

In [19]:
# Jeep	A2	
filtered_result = df_copy[(df_copy['manufacture_date'] == 1980) & (df_copy['brand'] == 'Cadillac') & (df_copy['model'] == 'Deville')]

filtered_result

,id,list_id,list_time,manufacture_date,brand,model,origin,type,seats,gearbox,fuel,color,mileage_v2,price,condition
206857,149758645,109713360,1694433151883,1980,Cadillac,Deville,NaN,NaN,NaN,AT,petrol,NaN,99000,799000000.0,used
222417,149758645,109713360,1696266865201,1980,Cadillac,Deville,NaN,NaN,NaN,AT,petrol,NaN,99000,650000000.0,used
227729,149758645,109713360,1696424910101,1980,Cadillac,Deville,NaN,NaN,NaN,AT,petrol,NaN,99000,650000000.0,used
246309,149758645,109713360,1697175325489,1980,Cadillac,Deville,NaN,NaN,NaN,AT,petrol,NaN,99000,650000000.0,used
249449,149758645,109713360,1697597708725,1980,Cadillac,Deville,NaN,NaN,NaN,AT,petrol,NaN,99000,650000000.0,used

In [20]:
df_copy.nunique()

id                  37541
list_id             37541
list_time           78485
manufacture_date       43
brand                  67
model                 521
origin                 10
type                    9
seats                  11
gearbox                 4
fuel                    4
color                  12
mileage_v2           3240
price                2095
condition               2
dtype: int64

In [21]:
df_copy.isnull().sum()

id                      0
list_id                 0
list_time               0
manufacture_date        0
brand                   0
model                   0
origin              22999
type                11126
seats                8753
gearbox               326
fuel                   14
color               26074
mileage_v2              0
price                  30
condition               0
dtype: int64

In [22]:
from collections import defaultdict, Counter
import json
import pandas as pd

data_dict = defaultdict(lambda: defaultdict(lambda: defaultdict(lambda: {"origin": [], "type": [], "seats": [], "gearbox": [], "fuel": [], "color": []})))

for _, row in df_copy.iterrows():
    manufacture_date = row["manufacture_date"]
    brand = row["brand"]
    model = row["model"]

    if not pd.isna(row["origin"]):
        data_dict[manufacture_date][brand][model]["origin"].append(row["origin"])
    if not pd.isna(row["type"]):
        data_dict[manufacture_date][brand][model]["type"].append(row["type"])
    if not pd.isna(row["seats"]):
        data_dict[manufacture_date][brand][model]["seats"].append(row["seats"])
    if not pd.isna(row["gearbox"]):
        data_dict[manufacture_date][brand][model]["gearbox"].append(row["gearbox"])
    if not pd.isna(row["fuel"]):
        data_dict[manufacture_date][brand][model]["fuel"].append(row["fuel"])
    if not pd.isna(row["color"]):
        data_dict[manufacture_date][brand][model]["color"].append(row["color"])

In [23]:
with open('data_dict.json', 'w', encoding='utf-8') as f:
    json.dump(data_dict, f, ensure_ascii=False, indent=4)

In [24]:
def get_most_frequent_values(nested_dict):
    final_data = {}
    for m_date, brands in nested_dict.items():
        final_data[m_date] = {}
        for brand, models in brands.items():
            final_data[m_date][brand] = {}
            for model, attributes in models.items():
                final_data[m_date][brand][model] = {}
                for attr, values_list in attributes.items():
                    # print(values_list)
                    if values_list:
                        most_common = Counter(values_list).most_common()
                        max_count = most_common[0][1]  # Get the highest count

                        candidates = [val for val, count in most_common if count == max_count]
                        final_data[m_date][brand][model][attr] = candidates[0]
                    else:
                        final_data[m_date][brand][model][attr] = fetch_from_openAI_api(m_date, brand, model, attr)
                        
    return final_data

In [25]:
!pip -q install openai==0.28

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.5/76.5 kB 2.7 MB/s eta 0:00:00

In [26]:
import openai

openai.api_key = "PRIVATE KEY"

In [27]:
def fetch_from_openAI_api(m_date, brand, model, attr):
    unique_values = df_copy[attr].unique().tolist()  

    prompt = (
        f"Based on the following information:\n"
        f"Manufacture Date: {m_date}\n"
        f"Brand: {brand}\n"
        f"Model: {model}\n"
        f"Please predict the value for the attribute '{attr}' from the following options:\n"
        f"{', '.join([str(value) for value in unique_values])}.\n"
        f"Return only the most likely single value without no explanation."
    )

    try:
        response = openai.ChatCompletion.create( 
            model="gpt-3.5-turbo",
            messages=[
                {"role": "system", "content": "You are a helpful assistant."},
                {"role": "user", "content": prompt}
            ],
            max_tokens=50,  # Limit the response length
            temperature=0.3,  # Low randomness for more consistent results
            n=1,  # Get only one result
        )
        predicted_value = response["choices"][0]["message"]["content"].strip()  # Extract prediction
        if predicted_value not in unique_values:
            # Fallback if the response is invalid
            return unique_values[0] if unique_values else "Unknown"
        print(predicted_value)
        return predicted_value
    except Exception as e:
        print(f"Error in API call: {e}")
        return "Unknown"

In [28]:
filled_data_dict = get_most_frequent_values(data_dict)

sorted_filled_data_dict = dict(sorted(filled_data_dict.items(), key=lambda x: x[0], reverse=True))

white
Hatchback
white
Nhật Bản
Pick-up (bán tải)
Mỹ
Sedan
white
Hatchback
white
Hatchback
Nhật Bản
SUV / Cross over
white
Minivan (MPV)
white
Nhật Bản
Sedan
white
Mỹ
white
Mỹ
Sedan
blue
Mỹ
Hatchback
white
Nhật Bản
Đức
Sedan
black
Đức
SUV / Cross over
Đức
Coupe (2 cửa)
black
Đức
Sedan
black
Đức
Hatchback
white
Đức
black
Đức
black
Đức
Coupe (2 cửa)
Mỹ
SUV / Cross over
black
black
Van
Nhật Bản
Pick-up (bán tải)
white
blue
Sedan
Minivan (MPV)
white
Hàn Quốc
white
Nhật Bản
Minivan (MPV)
silver
Hàn Quốc
white
Nhật Bản
Hatchback
white
Nhật Bản
Nhật Bản
Sedan
white
Nhật Bản
white
Nhật Bản
Mỹ
white
black
Đức
Đức
black
Đức
Nhật Bản
Nhật Bản
Nhật Bản
black
Đức
white
white
Pick-up (bán tải)
Van
white
black
SUV / Cross over
white
Đức
Hatchback
black
Nhật Bản
Minivan (MPV)
white
SUV / Cross over
black
SUV / Cross over
white
Hatchback
white
red
Mỹ
Hatchback
Mỹ
SUV / Cross over
white
white
Nhật Bản
SUV / Cross over
white
Đức
Sedan
black
Đức
Coupe (2 cửa)
black
Đức
Sedan
Đức
SUV / Cross over
Đức
SUV / Cross over
black
Đức
Sedan
black
Đức
Sedan
black
Đức
Minivan (MPV)
black
Nhật Bản
SUV / Cross over
white
SUV / Cross over
Đức
SUV / Cross over
black
Đức
Sedan
black
Đức
Sedan
black
Pick-up (bán tải)
white
Sedan
black
white
Đức
Hatchback
white
Hatchback
white
Hatchback
white
Sedan
Nhật Bản
silver
Nhật Bản
Hatchback
white
white
SUV / Cross over
silver
Minivan (MPV)
Sedan
Nhật Bản
SUV / Cross over
white
SUV / Cross over
Nhật Bản
white
SUV / Cross over
Mỹ
Minivan (MPV)
white
Việt Nam
white
Nhật Bản
SUV / Cross over
white
Sedan
black
Nhật Bản
black
Đức
SUV / Cross over
black
Đức
white
Nhật Bản
Sedan
black
SUV / Cross over
Việt Nam
Sedan
silver
Nhật Bản
SUV / Cross over
white
Hatchback
Hatchback
white
white
Hàn Quốc
Sedan
white
Đức
SUV / Cross over
black
Đức
Sedan
Mỹ
Pick-up (bán tải)
black
white
Mỹ
Pick-up (bán tải)
black
Nhật Bản
Đức
black
Đức
Đức
white
Nhật Bản
SUV / Cross over
Nhật Bản
black
Pick-up (bán tải)
Đức
Hatchback
white
black
Trung Quốc
SUV / Cross over
white
Đức
SUV / Cross over
white
Nhật Bản
SUV / Cross over
Hatchback
white
Sedan
white
Hàn Quốc
Hatchback
white
Sedan
silver
SUV / Cross over
Hatchback
SUV / Cross over
silver
silver
Mỹ
Hatchback
silver
silver
black
Nhật Bản
SUV / Cross over
white
SUV / Cross over
Nhật Bản
Hàn Quốc
Minivan (MPV)
Đức
Sedan
black
Nhật Bản
SUV / Cross over
silver
Hatchback
silver
silver
silver
Mỹ
Sedan
black
black
Nhật Bản
SUV / Cross over
white
white
Minivan (MPV)
SUV / Cross over
Sedan
white
Sedan
white
Nhật Bản
white
silver
Nhật Bản
white
Mỹ
black
silver
Van
white
Đức
SUV / Cross over
Đức
Nhật Bản
white
SUV / Cross over
white
black
Đức
Sedan
black
Sedan
black
Đức
Hatchback
black
Đức
black
Đức
black
SUV / Cross over
black
Nhật Bản
Nhật Bản
Sedan
white
Hatchback
white
Đức
Hatchback
white
SUV / Cross over
white
silver
Việt Nam
Minivan (MPV)
white
Minivan (MPV)
Nhật Bản
SUV / Cross over
white
black
Đức
Coupe (2 cửa)
silver
Hàn Quốc
Hatchback
silver
Hàn Quốc
silver
Hàn Quốc
Minivan (MPV)
white
Minivan (MPV)
black
Nhật Bản
Hatchback
silver
Sedan
Nhật Bản
silver
Nhật Bản
SUV / Cross over
silver
Sedan
silver
Sedan
Đức
Sedan
grey
SUV / Cross over
silver
Mỹ
Sedan
black
Mỹ
SUV / Cross over
blue
SUV / Cross over
black
Hatchback
black
white
Nhật Bản
SUV / Cross over
white
Nhật Bản
Coupe (2 cửa)
white
SUV / Cross over
white
white
Sedan
silver
Hatchback
white
Việt Nam
Sedan
white
white
Hatchback
white
Đức
Hatchback
white
black
black
Coupe (2 cửa)
black
Đức
Coupe (2 cửa)
black
Đức
Coupe (2 cửa)
black
Đức
Coupe (2 cửa)
black
SUV / Cross over
Đức
SUV / Cross over
black
Sedan
Hatchback
Đức
Coupe (2 cửa)
red
Sedan
Minivan (MPV)
white
Nhật Bản
Sedan
silver
Nhật Bản
Coupe (2 cửa)
silver
Hàn Quốc
Sedan
blue
Hatchback
Nhật Bản
SUV / Cross over
silver
Coupe (2 cửa)
red
Hàn Quốc
Sedan
silver
Hatchback
silver
Đức
Coupe (2 cửa)
silver
Hàn Quốc
Sedan
silver
Hatchback
silver
SUV / Cross over
Hatchback
silver
Hàn Quốc
Hatchback
silver
Đức
green
Hatchback
silver
white
Van
Hatchback
Pick-up (bán tải)
Nhật Bản
Pick-up (bán tải)
white
black
Sedan
silver
Đức
white
Hàn Quốc
Hatchback
white
Coupe (2 cửa)
silver
SUV / Cross over
Nhật Bản
Sedan
white
Hàn Quốc
Sedan
white
Hatchback
Nhật Bản
SUV / Cross over
black
Minivan (MPV)
white
Sedan
gold
Việt Nam
Hatchback
silver
Nhật Bản
Van
white
white
Minivan (MPV)
Coupe (2 cửa)
silver
Đức
Coupe (2 cửa)
black
Nhật Bản
white
Sedan
silver
Pick-up (bán tải)
white
Sedan
Minivan (MPV)
Nhật Bản
SUV / Cross over
black
white
Nhật Bản
Sedan
silver
Đức
Minivan (MPV)
black
Đức
SUV / Cross over
black
Đức
SUV / Cross over
black
SUV / Cross over
Nhật Bản
SUV / Cross over
white
SUV / Cross over
Nhật Bản
Sedan
grey
white
SUV / Cross over
white
Đức
Coupe (2 cửa)
silver
silver
white
Sedan
black
SUV / Cross over
white
Trung Quốc
SUV / Cross over
white
Trung Quốc
SUV / Cross over
white
white
Đức
SUV / Cross over
black
white
Hatchback
white
Mỹ
Nhật Bản
Minivan (MPV)
white
Coupe (2 cửa)
red
Hàn Quốc
Minivan (MPV)
white
Nhật Bản
Hatchback
white
Đức
SUV / Cross over
black
Đức
black
Đức
Sedan
black
black
white
SUV / Cross over
SUV / Cross over
white
Hàn Quốc
Hatchback
white
Hatchback
black
silver
Sedan
silver
Việt Nam
SUV / Cross over
SUV / Cross over
white
Nhật Bản
white
white
silver
Mỹ
Pick-up (bán tải)
black
Mỹ
Hatchback
silver
Sedan
Nhật Bản
Sedan
silver
Nhật Bản
SUV / Cross over
silver
Coupe (2 cửa)
Đức
SUV / Cross over
black
Đức
black
black
Đức
Hatchback
black
Nhật Bản
silver
Hatchback
white
Đài Loan
Minivan (MPV)
Đức
Đức
Coupe (2 cửa)
silver
Việt Nam
silver
Hatchback
silver
white
silver
Hàn Quốc
Sedan
Sedan
Mỹ
black
Nhật Bản
Nhật Bản
Nhật Bản
Nhật Bản
silver
Nhật Bản
silver
silver
SUV / Cross over
Đức
black
Pick-up (bán tải)
Hatchback
white
SUV / Cross over
Hàn Quốc
Sedan
silver
Hatchback
white
Sedan
Sedan
Van
white
Việt Nam
Sedan
blue
SUV / Cross over
black
SUV / Cross over
Nhật Bản
Hatchback
silver
SUV / Cross over
silver
Hàn Quốc
Pick-up (bán tải)
white
Nhật Bản
Hatchback
silver
SUV / Cross over
SUV / Cross over
silver
Đức
Hatchback
green
Nhật Bản
SUV / Cross over
white
Nhật Bản
Minivan (MPV)
white
Mỹ
SUV / Cross over
white
white
Nhật Bản
SUV / Cross over
silver
Minivan (MPV)
silver
Đức
Coupe (2 cửa)
black
Đức
SUV / Cross over
silver
SUV / Cross over
black
Đức
black
Đức
Coupe (2 cửa)
black
SUV / Cross over
Hàn Quốc
Nhật Bản
SUV / Cross over
white
Nhật Bản
Sedan
Hàn Quốc
Nhật Bản
Nhật Bản
Minivan (MPV)
Nhật Bản
Nhật Bản
SUV / Cross over
black
white
Nhật Bản
Sedan
white
Pick-up (bán tải)
white
Việt Nam
Nhật Bản
Pick-up (bán tải)
white
Nhật Bản
Hatchback
Đức
Đức
black
white
Đức
Coupe (2 cửa)
black
Đức
black
Nhật Bản
white
Nhật Bản
grey
black
black
Mỹ
SUV / Cross over
white
Sedan
silver
SUV / Cross over
white
Nhật Bản
SUV / Cross over
silver
Hàn Quốc
Coupe (2 cửa)
black
Hàn Quốc
Sedan
silver
silver
Hatchback
SUV / Cross over
Mỹ
Minivan (MPV)
Nhật Bản
Hatchback
silver
white
white
Trung Quốc
Minivan (MPV)
SUV / Cross over
silver
silver
Nhật Bản
SUV / Cross over
silver
Hatchback
silver
Sedan
blue
Hàn Quốc
SUV / Cross over
white
Hàn Quốc
Sedan
white
Mỹ
SUV / Cross over
white
silver
Mỹ
Đức
Nhật Bản
Minivan (MPV)
SUV / Cross over
black
black
Nhật Bản
black
Đức
Coupe (2 cửa)
black
Đức
silver
Hatchback
silver
Coupe (2 cửa)
black
Sedan
black
SUV / Cross over
black
red
SUV / Cross over
Nhật Bản
Sedan
white
Sedan
blue
Nhật Bản
Sedan
blue
black
Mỹ
Sedan
blue
Nhật Bản
Hatchback
red
white
Hàn Quốc
Hatchback
white
white
Nhật Bản
Sedan
silver
white
Hatchback
Pick-up (bán tải)
white
Sedan
blue
Sedan
blue
Mỹ
SUV / Cross over
silver
Hàn Quốc
Hatchback
silver
SUV / Cross over
green
SUV / Cross over
white
Mỹ
Sedan
blue
Minivan (MPV)
white
Sedan
Đức
Sedan
silver
white
SUV / Cross over
Nhật Bản
silver
Nhật Bản
white
blue
Hatchback
Hàn Quốc
Hatchback
white
Hàn Quốc
SUV / Cross over
blue
white
SUV / Cross over
Hàn Quốc
Sedan
silver
silver
Sedan
silver
Nhật Bản
Hatchback
white
Hàn Quốc
Sedan
silver
Hàn Quốc
Sedan
SUV / Cross over
silver
silver
SUV / Cross over
silver
Đức
SUV / Cross over
black
white
Đức
Coupe (2 cửa)
black
Hatchback
Hatchback
silver
black
Hatchback
silver
Minivan (MPV)
Nhật Bản
silver
Sedan
Hàn Quốc
SUV / Cross over
silver
white
white
Nhật Bản
Sedan
white
Van
white
blue
Nhật Bản
Sedan
Nhật Bản
Sedan
blue
Nhật Bản
SUV / Cross over
blue
Nhật Bản
Hatchback
silver
Nhật Bản
Hatchback
blue
Hàn Quốc
Sedan
white
Hatchback
white
Sedan
white
Nhật Bản
blue
Đức
Sedan
silver
Nhật Bản
SUV / Cross over
green
SUV / Cross over
Nhật Bản
Sedan
white
Sedan
Mỹ
Sedan
white
Pick-up (bán tải)
green
Đức
Van
white
Nước khác
Hatchback
white
Nhật Bản
Pick-up (bán tải)
white
Mỹ
Minivan (MPV)
white
Nhật Bản
SUV / Cross over
white
Hatchback
white
Sedan
blue
Mỹ
blue
Sedan
Nhật Bản
Sedan
blue
Sedan
white
white
Nhật Bản
Hatchback
white
Sedan
blue
white
Hàn Quốc
Sedan
white
Hatchback
blue
Nhật Bản
Việt Nam
Hatchback
white
Nhật Bản
white
Nhật Bản
SUV / Cross over
white
Hatchback
Nhật Bản
Nhật Bản
Coupe (2 cửa)
red
Nhật Bản
Sedan
black
Đức
Sedan
white
Mỹ
Pick-up (bán tải)
green

In [29]:
with open('final_data_dict.json', 'w', encoding='utf-8') as f:
    json.dump(sorted_filled_data_dict, f, ensure_ascii=False, indent=4)